{:blocks (
{:block/created-at 1731639442759
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 0
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "pencil"
:points [[0 0 0.5]]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "45989d70-a2fd-11ef-ae9b-cdd9fff918d6"
:noFill true
:point [189.5 152.5]
:parentId "6736b870-a0ed-4399-9188-128d9a886379"
:nonce 1731639414985
:isComplete true}}
:block/updated-at 1731639442759} 
{:block/created-at 1736090491351
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 1
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [112 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "b7cf60b0-cb78-11ef-b7f6-a9749d786dd0"
:padding 4
:fontWeight 400
:noFill true
:point [-224 -88]
:lineHeight 1.2
:fontSize 20
:parentId "6736b870-a0ed-4399-9188-128d9a886379"
:nonce 1736090481240
:italic false
:text "Interstellar"}}
:block/updated-at 1736090491351} 
{:block/created-at 1736090499958
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 2
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [67 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "bfd62050-cb78-11ef-b7f6-a9749d786dd0"
:padding 4
:fontWeight 400
:noFill true
:point [-224 -48]
:lineHeight 1.2
:fontSize 20
:parentId "6736b870-a0ed-4399-9188-128d9a886379"
:nonce 1736090494689
:italic false
:text "se7en"}}
:block/updated-at 1736090499958})
:pages (
{:block/uuid #uuid "6736b870-a0ed-4399-9188-128d9a886379"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6736b870-a0ed-4399-9188-128d9a886379"
:name "film"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("45989d70-a2fd-11ef-ae9b-cdd9fff918d6" "b7cf60b0-cb78-11ef-b7f6-a9749d786dd0" "bfd62050-cb78-11ef-b7f6-a9749d786dd0")}}
:block/updated-at 1736090499958
:block/created-at 1731639408063
:block/type "whiteboard"
:block/name "film"
:block/original-name "Film"})}