{:blocks (
{:block/created-at 1731639442759
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 0
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "pencil"
:points [[0 0 0.5]]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "45989d70-a2fd-11ef-ae9b-cdd9fff918d6"
:noFill true
:point [189.5 152.5]
:parentId "6736b870-a0ed-4399-9188-128d9a886379"
:nonce 1731639414985
:isComplete true}}
:block/updated-at 1731639442759})
:pages (
{:block/uuid #uuid "6736b870-a0ed-4399-9188-128d9a886379"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6736b870-a0ed-4399-9188-128d9a886379"
:name "6736b870-a0ed-4399-9188-128d9a886379"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("45989d70-a2fd-11ef-ae9b-cdd9fff918d6")}}
:block/updated-at 1731639455502
:block/created-at 1731639408063
:block/type "whiteboard"
:block/name "film"
:block/original-name "Film"})}